{
  "env": {
    "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "prefer-arrow-callback": 0,
    "react/prefer-stateless-function": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": 0,
  }
}
