{
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],

  "rules": {
    "react/jsx-props-no-spreading": "off",
    "react/forbid-foreign-prop-types": "off",
    "arrow-parens": "off"
  },

  "env": {
    "browser": true,
    "node": true
  }
}
