{
  "extends": [
    "airbnb",
    "airbnb/hooks",
  ],

  "rules": {
    "arrow-parens": "off",
    "react/forbid-foreign-prop-types": "off",
    "react/jsx-no-constructed-context-values": "off",
    "react/jsx-props-no-spreading": "off",
  },

  "env": {
    "browser": true,
    "node": true,
  },

  "overrides": [
    {
      "extends": "airbnb",
      "files": "test/**/*",
      "env": {
        "mocha": true
      },
      "rules": {
        "arrow-parens": "off",
        "import/no-extraneous-dependencies": [2, {
          "devDependencies": true,
        }],
        "react/forbid-foreign-prop-types": "off",
        "react/function-component-definition": "off",
        "react/jsx-no-constructed-context-values": "off",
        "react/jsx-props-no-spreading": "off",
        "react/no-unused-prop-types": "warn",
        "react/prop-types": "warn",
      }
    },
  ],
}
